p, ul, li, h1, h2, h3, body,
header, nav, article, section, footer {
	margin:0;
	padding:0;
}

a {
	text-decoration:none;
}


body {
	background:#fff;
	color:#555;	
}

a {
	color:#000;
}

a:hover {
	text-decoration:underline;
}

header, nav, article, section, footer {
	display:block;
}

div.heading,
div#wrapper {
	width:35em;
	margin:0 auto;
}

h1 {
	text-align:center;
}

h1 a {
	text-decoration:none;
}

nav,
div.heading header + nav {
	overflow:hidden;
	height:1.5em;
	margin:0.6em 0 0 0;
}

nav ul {
	display:block;
	text-align:center;
}


nav li {
	display:inline;
	padding:0 0.5em 0 0;
	letter-spacing:0.05em;
}

div.heading {
	margin:3.1em 0 1em 0;
	position:relative;
}

nav li + li:before {
	content: "\2767";
	padding:0 0.5em 0 0.1em;
}

div.heading nav {
	position:absolute;
	top:0;
	left:0;
	margin-top:0.2em;
}

div.heading header + nav {
	position:static;
}

/* DEEPAK PHOTO AND SLOGAN */
section.bio {
	position:relative;
	min-height:200px;
}
section.bio p + p {
	padding:0.9em 0 0 0;
	margin:0 0 0 272px;
}

section.bio p:first-child {
	position:absolute;
	left:0;
	top:0;
	width:245px;
}

section {
	clear:both;
}

section h2 {
	font-variant:small-caps;
	font-weight:normal;
	line-height:2em;
}


section h3 {
	font-weight:bold;
	line-height:2em;
}

section p,
section ul {
	margin:0 0 1.286em 0;
}


/* DEEPAK ONLINE */
section.online {
	margin:2.3em 0;
	text-align:center;	
}

section.online p a:after {
	content: "";
}

section.online li {
	list-style:none;
	display:inline;
}

section.online li + li:before {
	content: "\2767";
	padding:0 0.5em;	
}

/* ========= */
/* = FONTS = */
/* ========= */
body {
	font: normal normal normal 1em/1.286 Baskerville, Palatino, Constantia, Georgia, "Book Antiqua", "URW Palladio L", serif;
}

h1 {
	font: normal normal normal 3em/1.5 Baskerville, Palatino, Constantia, Georgia, "Book Antiqua", "URW Palladio L", serif;
}

h1 small {
    font-size: 0.2em;
}


body { font-size:100%; }
h1 { font-size:5em;}
section.online p { font-size:2em; }
h2,h3 { font-size:1.125em; }
p, ul, h4, a.title { font-size:0.875em; }


section.bio p {
	font-size:2em;
}

body {
	 /* background:url(/images/gridbg.gif) top left repeat;  */
}

span.amp {
    font-style: italic;
    font-weight:normal;
    font:  Baskerville, Constantia, Palatino, "Palatino Linotype", "Book Antiqua", "URW Palladio L", serif;
}

