.linklists {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include min-width(2) {
    height: 45em;
  }

  @include min-width(3 4) {
    height: 30em;
  }
}

.linklist {
  @include min-width(2) {
    width: 50%
  }

  @include min-width(3 4) {
    width: 33.3%;
  }
}

.byline {
  font-family: "Droid Sans", "Helvetica Neue",Helvetica,sans-serif;
  font-feature-settings: "lnum" 1;
  text-transform: uppercase;
  font-size: 0.75em;
}

.impt {
  color: red;
}

#searchbox_demo input {
  display: inline;
  width: auto;
  border: 1px solid #999;
}

footer p {
    text-align: center;
    font-family: "Droid Sans", "Helvetica Neue",Helvetica,sans-serif;
    font-feature-settings: "lnum" 1;
    text-transform: uppercase;
    font-size: 0.75em;
}
