img.logo {
    margin-top: 20px;
}

nav {
    text-align: center;
}

nav a {
  margin: 0.5rem 0;
  text-transform: uppercase;
  display: block;
  border-bottom: 0;
  font-size: 0.8em;
  line-height: 1.25;
}

nav a:hover {
    text-decoration: none;
}

