<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- the above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>$title$</title>
    </head>
    <body>
        <div class="container">
            <div class="row"><div class="fixed-nav col-md-2 col-sm-2"><nav>
                        <img src="/logo.png" width="75" height="90" class="logo">
                        <a href="/">Home</a>
                        <a href="/About The Site">Site</a>
                        <a href="/All Posts">All</a>
                        <a href="/About Me">Me</a>
                    </nav></div></div>
            <div class="row">
                <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-1">
                    $body$
                </div>
            </div>
            <div class="row footer">
                <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                    <a class="center-block small text-center" href="https://docs.google.com/forms/d/1JHsgl6-FXZNdBkEZSHNrGkb9gTjqooqXOM6NvmGau3c/viewform">Give Anonymous Feedback &rarr;</a>
                </div>
            </div>
        </div>
    </body>
</html>
