@include megatype;

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding-top: 2rem;
    max-width: 100%;
    background-color: site-color(white);
}


body {
    line-height: 2rem;
    font-family: font-family-of($serif);
    font-style: normal;
}

.page {
    @include set-container;
    margin: 0;

    @include all-breakpoints {
        padding: 2rem 2rem;
    }
}


