<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<title>{{ page.title }}</title> 
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" title="Main CSS"> 
<!-- Dirty JavaScript hack to make IE able to apply CSS to elements that it doesn't usually know about, plus miscellaneous IE rules -->
<!--[if IE]>
<script type="text/javascript">
document.createElement('header');
document.createElement('nav');
document.createElement('article');
document.createElement('aside');
document.createElement('footer');
</script>
<style type="text/css">
header *, footer * {text-align:center;}
#wrapper {width:100%;} /* otherwise, IE halves the width of <nav>*/ 
</style>
<![endif]-->
</head>
<body>
<div id="wrapper">
	<div class="heading"><!--START CLASS heading-->
    	<header>
			<h1><a href="/">Deepak Jois</a></h1>
		</header>		
		<nav>
			{% include menu.html %}	
		</nav>	
	</div><!--END CLASS heading-->
	{{ content }}	
</div>
</body>
</html>

